@font-face {
  font-family: Montserrat-Regular;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf'); 
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
}

@font-face {
  font-family: Montserrat-ExtraBold;
  src: url('../fonts/montserrat/Montserrat-ExtraBold.ttf'); 
}

@font-face {
  font-family: Montserrat-Medium;
  src: url('../fonts/montserrat/Montserrat-Medium.ttf'); 
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
}

header.major {
  font-family: Montserrat-ExtraBold;
  text-align: center;
  padding-top: 50px;
}

header h2 {
  margin: 0;
  padding: 0;
  font-size: 3em;
  font-weight: 600;
}

/* ------------------------------------ */
a {
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

#nav a {
  font-size: 13px;
  font-weight: 300;
  line-height: 1.75em;
  font-family: 'Raleway', sans-serif;
}

/* ------------------------------------ */
h1,h2,h3,h4,h5,h6 {margin: 0px;}

p {margin: 0px;}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/* ------------------------------------ */
input {
  display: block;
	outline: none;
	border: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea {
  display: block;
  outline: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

/* ------------------------------------ */
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/
table {
  font-family: Montserrat-Bold;
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

table * {
  position: relative;
}

table thead tr {
  background: #2d3436;
  color: #ffffff;
}

table tbody tr:last-child {
  border: 0;
}

table td, table th {
  text-align: center !important;
}

tbody tr:hover {
  color: #555555;
  background-color: #f5f5f5;
  cursor: pointer;
}


/*//////////////////////////////////////////////////////////////////
[ Floating Button ]*/
.table-add {
  position relative;
  z-index: -1;
}
.text-success{
  position: fixed;
  width:60px;
  height:60px;
  bottom:30px;
  right:30px;
  background-color: #27ae60;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  box-shadow: 2px 2px 3px #999;
}

.my-float {
  color: #ffffff;
  padding-top: 15px;
}

